In [6]:
import pandas as pd

In [7]:
data = pd.read_excel('E:\\test1.xlsx')

In [8]:
data.head()

,Sl.No.,Load,Biogas flow rate,methane fraction,Intake temperature,CO2,CO,HC,O2,Smoke,...,dp/dt,ID,CD,CA50,Max. HRR,BSFC,CO2.1,HC.1,CO.1,NOx
0,1,5,2,50,35,3.38,0.13,105,15.92,35.0,...,2.326593,26.0,82.0,38.0,21.492709,0.475258,3.38,1.360185,36.271588,2.869840
1,2,5,2,65,35,3.32,0.12,143,15.95,33.0,...,2.561082,26.0,92.0,39.0,23.522741,0.477607,3.32,1.878081,33.944874,3.152024
2,3,5,2,80,35,3.09,0.13,167,15.97,33.0,...,2.509624,25.0,88.0,40.0,26.273389,0.474288,3.09,2.182968,36.600658,3.559515
3,4,5,2,100,35,2.98,0.15,189,16.00,31.0,...,2.257887,26.0,69.0,25.0,20.869492,0.478499,2.98,2.483729,42.456906,3.123615
4,5,10,2,50,35,4.61,0.12,107,14.13,41.0,...,3.608106,24.0,80.0,34.0,31.025659,0.307573,4.61,0.718109,17.346128,4.135193

In [9]:
features_lis= ['Load', 'Biogas flow rate', 'methane fraction', 'Intake temperature', 'CO2']
data = data.dropna().drop('Sl.No.', axis=1)
features = data.loc[:, features_lis]
target = data.drop(features_lis, axis=1)

In [11]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [12]:
std_sc=StandardScaler()
min_max_sc=MinMaxScaler()

In [13]:
data = std_sc.fit_transform(data)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [14]:
target = min_max_sc.fit_transform(target)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size= 0.3, random_state=0)

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
lr = LinearRegression()

In [18]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [19]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, lr.predict(X_test))

1.4439935436791013e-31

In [20]:
#Predicted values:
min_max_sc.inverse_transform(lr.predict(X_test))

array([[1.80000000e-01, 6.00000000e+02, 1.31600000e+01, ...,
        3.11472773e+00, 2.01259330e+01, 7.54722489e-01],
       [1.30000000e-01, 1.86000000e+02, 1.51700000e+01, ...,
        2.37060757e+00, 3.56865656e+01, 2.47060838e+00],
       [2.00000000e-01, 1.18000000e+02, 9.81000000e+00, ...,
        3.96017609e-01, 1.44569662e+01, 7.53569361e+00],
       ...,
       [1.10000000e-01, 1.01000000e+02, 1.36000000e+01, ...,
        5.87157773e-01, 1.37733887e+01, 4.74913599e+00],
       [1.90000000e-01, 9.60000000e+01, 8.82000000e+00, ...,
        2.62932671e-01, 1.12083478e+01, 6.02975405e+00],
       [2.40000000e-01, 1.55000000e+02, 7.79000000e+00, ...,
        3.92419535e-01, 1.30871428e+01, 6.32155737e+00]])